# Application configuration
AGENT_HOST_URL=http://localhost:4322  # The host URL and port number where the app is running.
APP_API_KEY="your api key"
DATA_FOLDER_PATH=data  # The path to the folder that will store the allocation data.

# AI configuration
OPENROUTER_API_KEY="your api key"


# Data retrieval configuration
FMP_API_KEY="your api key"
