fastapi>=0.115
nbformat>=5.10.4
openbb>=4.4.5
openbb-akshare>=0.9.23
openbb-tushare>=0.3.5
openbb-core>=1.4.8
plotly>=6.3.0
python-dotenv>=1.1.1
requests>=2.32.4
six>=1.17.0
uvicorn>=0.34.2
ipykernel>=6.30.1
openbb-devtools>=1.4.4
